/* * {
    transition: color 0.5s ease-in;
    transition: background-color 5s ease-in;
    -webkit-transition: background-color .5s ease-in;
    -o-transition: background-color .5s ease-in;
    -moz-transition: background-color .5s ease-in;
} */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: none;
    background: transparent;
    font-size: 1em;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 4em;
    margin: 0;
}

.selected {
    font-weight: 600;
}

#landing {
    margin: auto;
}

#landing div {
    text-align: left;
    margin-top: -50px;
}

#contact {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}

#contact div {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#about div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#about div img {
    border-radius: 50%;
    border: 2px solid black;
    padding: .2em;
    margin: 1em;
    max-width: 70%;
}

#about div p {
    max-width: 40%;
    text-align: justify;
    margin-left: 1em;
}

#projects .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	padding: 2em;
}

.project-tile {
	margin: 1em;
    padding: 1em;
	text-align: left;
}

.project-tile footer {
	margin: 0;
	padding: .5em 0;
}

.project-tile button {
    text-decoration: underline;
    padding: 0;
}

nav {
	box-sizing: border-box;
	min-height: 50px;
	display: flex;
	justify-content: space-between;
	padding: 0 1em;
	position: fixed;
	width: 100%;
}

nav div {
	display: flex;
	list-style: none;
	margin-right: 0;
	padding: 0;
}
nav button {
	margin: 0;
}

#theme-toggle {
    align-items: center;
}

#light-mode-btn {
    border-right: 1px solid;
}

.fadeIn {

    transition: background-color .5s ease-in, color .5s ease-in;
    -webkit-transition: background-color .5s ease-in, color .5s ease-in;
    -o-transition: background-color .5s ease-in, color .5s ease-in;
    -moz-transition: background-color .5s ease-in, color .5s ease-in;
}

.hidden {
    display: none !important;
    height: 0 !important;
    opacity: 0;
    /* transition: visibility 0s, opacity 0.5s linear; */
}

.lightMode {
    background-color: white;
    color: black;
}

.darkMode {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 959px) {
    #projects .content {
        grid-template-columns: repeat(2, 1fr);
    }
    #about div {
        flex-direction: column-reverse;
    }
    #about div p {
        max-width: 70%;
        margin: 0;
    }
}

@media only screen and (max-width: 635px) {
    #projects .content {
        grid-template-columns: repeat(1, 1fr);
    }
    main {
        padding-top: 80px;
    }
    h1 {
        font-size: 2em;
    }
    nav {
        font-size: .8em;
    }
    img {
        margin: 2em;
    }
}